<template name="sprintSubmit">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-6">
          <div class="control-group input-append">
            <input type="text" id="title" placeholder="Sprint Title" value="{{selected.title}}" />
            {{#if selected}}
            <input type="button" id="btnEditSprint" class="btn" value="Modifier" />
            {{else}}
            <input type="button" id="btnAddSprint" class="btn" value="Creer" />
            {{/if}}
          </div>
        </div>
        
        <div class="col-md-6">
          <div class="control-group input-append">
            <input type="text" id="email" class="input-small" placeholder="Email" /> <input type="button" id="btnAddMember" class="btn" value="Ajouter" />
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12" id="sprintUserMessage">
        </div>
      </div>
    </div>
    
    <div class="col-md-4">
      {{> sprintMemberList}}
    </div>
  </div>
</template>
