<template name="pokerCreate">
  <div class="row">
    <div class="col-md-9">
    {{#if isInRoom}}
      <div class="row">
        <div class="col-md-6">
          <button name="btnResetVote" id="btnResetVote" class="btn">Reset vote</button>
          <button name="btnFreezeVote" id="btnFreezeVote" class="btn">Freeze vote</button>
        </div>
        <div class="col-md-6">
          <div class="alert alert-info"><strong>{{getRoomStatus}}</strong></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          {{>voteResult}}
        </div>
      </div>
    {{else}}
      <button name="createRoom" id="btnCreateRoom" class="btn">Create a room</button>
    {{/if}}
    </div>
    <div class="col-md-3">
      <div id="qrcode"></div>
    </div>
  </div>
</template>
