<template name="pokerVote">
  <div class="row-fluid">
    <div class="span12">
      <button class="btn pokerValue" value="0">0</button>
      <button class="btn pokerValue" value="0,5">1/2</button>
      <button class="btn pokerValue" value="1">1</button>
      <button class="btn pokerValue" value="3">3</button>
      <button class="btn pokerValue" value="5">5</button>
      <button class="btn pokerValue" value="8">8</button>
      <button class="btn pokerValue" value="13">13</button>
      <button class="btn pokerValue" value="20">20</button>
      <button class="btn pokerValue" value="40">40</button>
      <button class="btn pokerValue" value="100">100</button>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span12">
      <button class="btn" id="btnSendVote" disabled="disabled">send</button>
    </div>
  </div>
</template>
