<template name="pokerVote">
  {{#if isRoomOpened}}
  <div class="row-fluid">
    <div class="span12">
      <button class="btn btn-lg btn-warning btnSendVote" disabled="disabled">send</button>
      <button class="btn btn-lg btn-primary pokerValue" value="0">0</button>
      <button class="btn btn-lg btn-primary pokerValue" value="0,5">1/2</button>
      <button class="btn btn-lg btn-primary pokerValue" value="1">1</button>
      <button class="btn btn-lg btn-primary pokerValue" value="3">3</button>
      <button class="btn btn-lg btn-primary pokerValue" value="5">5</button>
      <button class="btn btn-lg btn-primary pokerValue" value="8">8</button>
      <button class="btn btn-lg btn-primary pokerValue" value="13">13</button>
      <button class="btn btn-lg btn-primary pokerValue" value="20">20</button>
      <button class="btn btn-lg btn-primary pokerValue" value="40">40</button>
      <button class="btn btn-lg btn-primary pokerValue" value="100">100</button>
      <button class="btn btn-lg btn-warning btnSendVote" disabled="disabled">send</button>
    </div>
  </div>
  {{else}}
  
    Room is closed, no more vote available. You can shutdown the app.<br />
    Thanks for using it.
  
  {{/if}}
  <div class="row-fluid">
    <div class="span12">
      
    </div>
  </div>
</template>
