<template name="meetingSubmit">
	<div class="row-fluid">
	<div class="span4">
		<div class="control-group input-append">
		<input type="text" id="title" placeholder="Meeting Subject" />
		<input type="button" id="btnAddMeeting" class="btn" value="Creer" />
		</div>
	</div>

	<div class="span4">
		<div class="control-group">
		<input type="text" id="name" class="input-small" placeholder="Name" /> <input type="text" id="email" class="input-small" placeholder="Email" /> <input type="text" id="salary" class="input-small" placeholder="Annual Salary or Day Cost" /> <input type="checkbox" id="typeSalary" /> <input type="button" id="btnAddMember" class="btn" value="Ajouter" />
		</div>
	</div>

	<div class="span4">
		{{list}}
	</div>
	</div>
</template>
