<template name="meetingStartStop">
	{{#with meeting}}
	<div class="row-fluid">
		<button class="btn btn-success" id="btnStartMeeting" {{#if startTime}}disabled="disabled"{{/if}}>D&eacute;marrer</button> <button class="btn btn-danger" id="btnEndMeeting" {{#if endTime}}disabled="disabled"{{/if}}>Arr&ecirc;ter</button>
	</div>

	<div class="row-fluid" id="rowChrono">
		Chrono: <span id="timeCounter" class="counter counter-analog" data-direction="up" data-format="23:59:59" data-interval="1000" data-initial="{{getPendingTimer}}"></span>
	</div>

	<div class="row-fluid">
		Co&ucirc;t: &nbsp;<div id="costCounter"><input type="hidden" name="counter-value" value="{{costBySeconds}}" /></div>
	</div>
	{{/with}}
</template>
