<template name="meetingSubmit">
	<div class="row-fluid">
		<div class="span8">
			<div class="row-fluid">
				<div class="span6">
					<div class="control-group input-append">
						<input type="text" id="title" placeholder="Meeting Subject" value="{{selected.title}}" />
						{{#if selected}}
						<input type="button" id="btnEditMeeting" class="btn" value="Modifier" />
						{{else}}
						<input type="button" id="btnAddMeeting" class="btn" value="Creer" />
						{{/if}}
					</div>
				</div>

				<div class="span6">
					<div class="control-group input-append">
						<input type="text" id="email" class="input-small" placeholder="Email" /> <input type="text" id="salary" class="input-small" placeholder="Daily Cost" /> <input type="button" id="btnAddMember" class="btn" value="Ajouter" />
					</div>
				</div>
			</div>

			<div class="row-fluid">
				<div class="span12" id="meetingUserMessage">
				</div>
			</div>
		</div>

		<div class="span4">
			{{> memberList}}
		</div>
	</div>
</template>
