<template name="meetingSummary">
    {{#with meeting}}
	{{title}} ({{submitted}})
	<ul>
	{{#each members}}
		<li>{{email}} {{#unless email}}inconnue{{/unless}} (daily cost: {{salary}})</li>
	{{/each}}
	</ul>
	{{#if endTime}}
	# de participants: {{members.length}}<br />
		d&eacute;marrage de la r&eacute;union: {{displayDate startTime}}<br />
	        fin de la r&eacute;union: {{displayDate endTime}}<br />
		dur&eacute;e: {{getDuration}}<br />
		cout: {{getCost}} &euro;<br />
	{{else}}
		{{#if startTime}}
			R&eacute;union en cours<br />
		{{else}}
			R&eacute;union non d&eacute;marr&eacute;e<br />
		{{/if}}
	{{/if}}
    {{/with}}

    {{#unless meeting}}
	Il semble qu'aucune r&eacute;union soit s&eacute;lectionn&eacute;e
    {{/unless}}
</template>
